.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #eff3f6;
}

/* .swagger-ui .info {
  background-color: white;
  padding: 50px;
  border-bottom: 5px solid #B32727;
}

.swagger-ui .info .description p {
  color: black;
}

.swagger-ui .info .description .markdown {
  color: black;
}

.swagger-ui .scheme-container {
  background-color: rgba(1, 1, 1, 0);
  box-shadow: 0 0 0 0;
}

.swagger-ui .schemes-title {
  color: white;
}

.swagger-ui .opblock-tag {
  color: black;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-bottom: 1px solid #D4BE7D;
}

.swagger-ui .opblock-tag small {
  color: black;
}

.swagger-ui .op-block {
  border-radius: 0;
}

.swagger-ui .opblock .opblock-summary-path {
  color: #7b828b;
}

.swagger-ui .opblock .opblock-summary-description {
  color: #7b828b;
}

.swagger-ui .markdown {
  color: #7b828b;
}

.swagger-ui .markdown p {
  color: #7b828b;
}

.swagger-ui .table-container {
  color: #7b828b;
}

.swagger-ui .response-col_status {
  color: #7b828b;
}

.swagger-ui .responses-header td {
  color: #7b828b;
}

.swagger-ui .table-container th {
  color: white;
}

.swagger-ui .table-container .parameter__name {
  color: white;
}

.swagger-ui section.models {
  border: 1px solid #D4BE7D;
  border-radius: 0;
}

.swagger-ui section.models h4 {
  color: white;
}

.swagger-ui section.models .model-container {
  background-color: white;
  border-radius: 0;
}

.swagger-ui section.models .model-container:hover {
  background-color: whitesmoke;
} */
